---
import { getPublishedPosts } from '../../lib/getPosts';
import type { ReferenceDataEntry } from 'astro:content';
const publishedPosts = await getPublishedPosts();

type ThreadSummary = {
	slug: string;
	title: string;
	authors: ReferenceDataEntry<'authors'>[];
	publish_date: Date;
};
const latestPostByThread = publishedPosts.reduce<Record<string, ThreadSummary>>((acc, post) => {
	const { thread, slug, title, authors, publish_date } = post.data;
	// skip any posts without a thread
	if (!thread) return acc;

	const existing = acc[thread];
	// if first time seeing this thread, or this post is newer
	if (!existing || publish_date > existing.publish_date) {
		acc[thread] = { slug, title, authors, publish_date };
	}

	return acc;
}, {});
---
<div id="new-tabs-container" class="relative">
	<div class="tab-row-0 relative z-0 flex">
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(148, 184, 92);">
				<a href="/threads/machine-writing/1" class="text-lg font-medium text-white"
					>machine-writing</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(148, 184, 92);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(221, 119, 136);">
				<a href="/threads/fictions-present/1" class="text-lg font-medium text-white"
					>fictions present</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(221, 119, 136);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(114, 159, 255);">
				<a href="/threads/first-person/1" class="text-lg font-medium text-white">first person</a>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(114, 159, 255);">
				Placeholder
			</div>
		</div>
	</div>
	<div class="tab-row-1 relative z-10 flex">
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(82, 191, 119);">
				<a href="/threads/technocapitalism/1" class="text-lg font-medium text-white"
					>technocapitalism</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(82, 191, 119);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(255, 51, 0);">
				<a href="/threads/writing-postfeminism/1" class="text-lg font-medium text-white"
					>writing (post)feminism</a>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(255, 51, 0);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(84, 222, 255);">
				<a href="/threads/electropoetics/1" class="text-lg font-medium text-white">electropoetics</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(84, 222, 255);">
				<div class="mx-10 flex w-full flex-row justify-between">
					<a
						onclick="document.querySelectorAll('img[data-astro-transition-scope]').forEach(img => img.removeAttribute('data-astro-transition-scope'));"
						class="w-1/5 text-2xl font-semibold italic hover:underline"
						href="/essays/letters-that-matter-the-electronic-literature-collection-volume-1"
						>Read the latest post &gt;</a
					>
					<div class="flex w-4/5 flex-col text-right">
						<span class="ml-5 overflow-hidden text-2xl overflow-ellipsis whitespace-nowrap"
							>Letters That Matter: The Electronic Literature Collection Volume 1</span
						><span class="capitalize">by john zuern&nbsp;&nbsp;&nbsp;09-Oct-2007</span>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(204, 153, 102);">
				<a href="/threads/internet-nation/1" class="text-lg font-medium text-white"
					>internet nation</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(204, 153, 102);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(102, 153, 51);">
				<a href="/threads/critical-ecologies/1" class="text-lg font-medium text-white"
					>critical ecologies</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(102, 153, 51);">
				<div class="mx-10 flex w-full flex-row justify-between">
					<a
						onclick="document.querySelectorAll('img[data-astro-transition-scope]').forEach(img => img.removeAttribute('data-astro-transition-scope'));"
						class="w-1/5 text-2xl font-semibold italic hover:underline"
						href="/essays/the-peripheral-future">Read the latest post &gt;</a
					>
					<div class="flex w-4/5 flex-col text-right">
						<span class="ml-5 overflow-hidden text-2xl overflow-ellipsis whitespace-nowrap"
							>The Peripheral Future: An Introduction to the Digital and Natural Ecologies Gathering</span
						><span class="capitalize">by lisa swanstrom&nbsp;&nbsp;&nbsp;03-Apr-2016</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-row-2 relative z-20 flex">
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(255, 102, 51);">
				<a href="/threads/webarts/1" class="text-lg font-medium text-white">web arts</a>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(255, 102, 51);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(204, 153, 51);">
				<a href="/threads/end-construction/1" class="text-lg font-medium text-white"
					>end construction</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(204, 153, 51);">
				<div class="mx-10 flex w-full flex-row justify-between">
					<a
						onclick="document.querySelectorAll('img[data-astro-transition-scope]').forEach(img => img.removeAttribute('data-astro-transition-scope'));"
						class="w-1/5 text-2xl font-semibold italic hover:underline"
						href="/essays/the-end">Read the latest post &gt;</a
					>
					<div class="flex w-4/5 flex-col text-right">
						<span class="ml-5 overflow-hidden text-2xl overflow-ellipsis whitespace-nowrap"
							>"The End"</span
						><span class="capitalize">by brian mchale&nbsp;&nbsp;&nbsp;04-Dec-2016</span>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(153, 153, 0);">
				<a href="/threads/image-narrative/1" class="text-lg font-medium text-white"
					>image + narrative</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(153, 153, 0);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(204, 204, 51);">
				<a href="/threads/music-sound-noise/1" class="text-lg font-medium text-white"
					>music/sound/noise</a
				>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(204, 204, 51);">
				Placeholder
			</div>
		</div>
		<div class="tab-container">
			<div
				class="tab relative flex items-center justify-center rounded-t-4xl shadow-md"
				style="background-color: rgb(153, 153, 204);">
				<a href="/threads/writing-under-constraint/1" class="text-lg font-medium text-white"
					>writing under constraint</a>
			</div>
			<div
				class="tab-content flex items-center justify-center px-4 shadow-md"
				style="background-color: rgb(153, 153, 204);">
				Placeholder
			</div>
		</div>
	</div>
</div>
