---
// Navbar.astro
---

<nav class="px-6 py-4 hidden lg:block">
	<div class="container font-mono">
		<div class="flex items-start justify-between">
			<div class="flex flex-col">
				<a class="block text-4xl font-semibold text-black xl:text-5xl 2xl:text-[55px]" href="/">
					<div>electronic</div>
					<div>book</div>
					<div>review</div>
				</a>
			</div>

			<div class="flex flex-col items-end space-y-3">
				<div class="text-md flex items-center space-x-4">
					<a href="/about" class="text-black border-b border-transparent transition-colors hover:border-black"> about </a>
					<span class="text-gray-400">|</span>
					<a href="/submissions" class="text-black border-b border-transparent transition-colors hover:border-black">
						submissions
					</a>
					<span class="text-gray-400">|</span>
					<a href="/publications/1" class="text-black border-b border-transparent transition-colors hover:border-black">
						publications
					</a>
					<span class="text-gray-400">|</span>
					<a href="/gatherings/1" class="text-black border-b border-transparent  transition-colors hover:border-black">
						gatherings
					</a>
					<span class="text-gray-400">|</span>
					<a href="/newsletters/1" class="text-black border-b border-transparent transition-colors hover:border-black">
						newsletters
					</a>
					<span class="text-gray-400">|</span>
					<a href="/subscribe" class="text-black border-b border-transparent transition-colors hover:border-black">
						subscribe
					</a>
				</div>

				<div class="flex items-center space-x-2">
					<input
						type="search"
						placeholder="Search..."
						class="border border-black px-3 py-1 text-sm bg-white hover:bg-gray-100 "
					/>
					<button
						type="button"
						class="cursor-pointer bg-black px-3 py-1 text-sm text-white hover:underline">
						GO
					</button>
				</div>
			</div>
		</div>
		<div class="mt-2 font-serif text-2xl font-light tracking-tighter text-neutral-600 italic">
			digital futures of literature, theory, criticism, and the arts
		</div>
	</div>
</nav>
