---
import { type GetStaticPaths } from 'astro';
import { getPublishedPosts } from '../lib/getPosts';

export const getStaticPaths = (async ({ paginate }) => {
	const publishedPosts = await getPublishedPosts();

	// Generate pages from our array of astronauts, with 2 to a page
	return paginate(publishedPosts, { pageSize: 2 });
}) satisfies GetStaticPaths;

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!-- Display the current page number. `Astro.params.page` can also be used! -->
<h1>Page {page.currentPage}</h1>
<ul>
	<!-- List the array of astronaut info -->
	{page.data.map(({ id }) => <li>{id}</li>)}
</ul>
