---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostSnippet from '../components/widget/PostSnippet.astro';
import { getPublishedPosts } from '../lib/getPosts';
import Footer from '../components/core/Footer.astro';
import HomeTabs from '../components/widget/HomeTabs.astro';

const publishedPosts = await getPublishedPosts();
const latestPosts = publishedPosts.slice(0, 15);

let latestPostsYear: number | null = null;
---

<BaseLayout>
	<div
		class="mx-auto mt-10 flex min-h-96 max-w-7xl flex-col overflow-hidden border-2  bg-white shadow-[4px_4px]"
		style="border-top-left-radius: 4rem; border-top-right-radius: 4rem;">
		<header class="mx-auto mt-30 text-center">
			<h1 class="text-7xl font-semibold text-black">electronic book review</h1>
			<p class="mt-6 font-serif text-2xl font-light tracking-tight text-neutral-600">
				digital futures of literature, theory, criticism, and the arts
			</p>
			<nav class="mt-20 mb-30 items-center space-x-4 text-xl">
				<a
					href="/about"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					about
				</a>
				<span class="text-gray-400">|</span>
				<a
					href="/submissions"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					submissions
				</a>
				<span class="text-gray-400">|</span>
				<a
					href="/publications/1"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					publications
				</a>
				<span class="text-gray-400">|</span>
				<a
					href="/gatherings/1"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					gatherings
				</a>
				<span class="text-gray-400">|</span>
				<a
					href="/newsletters/1"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					newsletters
				</a>
				<span class="text-gray-400">|</span>
				<a
					href="/subscribe"
					class="border-b border-transparent text-black transition-colors hover:border-black">
					subscribe
				</a>
			</nav>
		</header>


		<div class="relative">
			<HomeTabs />
			<div id="sort_bar" class="flex flex-row px-6 font-mono text-lg">
				<span class="text-gray-200">Sort by:</span>
				<div class="ml-6 text-white">
					<button class="text-red-500">latest</button>
					<span class="text-gray-400">|</span>
					<button>oldest</button>
				</div>
			</div>
		</div>

		<main class="z-50 bg-white px-6">
			{
				latestPosts.map((post) => {
					const year = post.data.publish_date.getFullYear();
					const yearChanged = year !== latestPostsYear;
					latestPostsYear = year;
					return (
						<>
							{yearChanged && <h2 class="my-6 ml-41 text-5xl font-black">{year}</h2>}
							<PostSnippet post={post} />
						</>
					);
				})
			}
		</main>
	</div>

	<Footer />
</BaseLayout>
