---
import { getCollection, render } from 'astro:content';
import ContentLayout from '../../layouts/ContentLayout.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { processBlurb } from '../../lib/utils';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { id: post.id, postType: post.data.type },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);

const blurb = post.data.blurb ? processBlurb(post.data.blurb) : '';
---

<BaseLayout title={post.data.title}>
	<div class="max-w-7xl mx-auto flex bg-white" style="border: 10px solid #54deff;">

			<aside class="hidden lg:block w-64 border-r border-black-200 ">asd</aside>

			<div class="relative flex-1 w-full lg:min-w-3xl ">
				<div class="py-8 px-4 ">
					<article class="prose text-lg m-auto">
						<h1 class="mb-8 text-3xl font-semibold text-gray-900 dark:text-gray-50">
							{post.data.title}
						</h1>
						<Content />
					</article>
				</div>
			</div>

			<!-- Right aside -->
			<aside class="hidden xl:block w-64 border-l border-black-200 ">
				<div class="p-4">
					<div class="space-y-4">
						<div class="text-sm text-gray-600">
							<h4 class="mb-2 font-medium text-gray-900">Table of Contents</h4>
							<ul class="space-y-1">
								<li><a href="#" class="text-blue-600 hover:underline">Introduction</a></li>
								<li><a href="#" class="text-blue-600 hover:underline">Material Letters</a></li>
								<li><a href="#" class="text-blue-600 hover:underline">Digital Materiality</a></li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
	</div>
</BaseLayout>
