@import 'tailwindcss';

@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/400-italic.css";
@import "@fontsource/ibm-plex-mono/300.css";
@import "@fontsource/ibm-plex-mono/300-italic.css";
@import "@fontsource/ibm-plex-mono/700.css";
@import "@fontsource/ibm-plex-mono/700-italic.css";

@import "@fontsource/source-serif-4/400.css";
@import "@fontsource/source-serif-4/400-italic.css";
@import "@fontsource/source-serif-4/300.css";
@import "@fontsource/source-serif-4/300-italic.css";
@import "@fontsource/source-serif-4/700.css";
@import "@fontsource/source-serif-4/700-italic.css";

@import "@fontsource/source-sans-3/400.css";
@import "@fontsource/source-sans-3/400-italic.css";
@import "@fontsource/source-sans-3/300.css";
@import "@fontsource/source-sans-3/300-italic.css";
@import "@fontsource/source-sans-3/700.css";
@import "@fontsource/source-sans-3/700-italic.css";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    margin-inline: auto;
}

@layer base {
    h1 {
        font-size: var(--text-3xl);
        font-weight: bold;
    }

    h2 {
        font-size: var(--text-3xl);
        font-weight: bold;
    }

    h3 {
        font-size: var(--text-2xl);
        font-weight: bold;
    }

    h4 {
        font-size: var(--text-xl);
        font-weight: bold;
    }
    h5 {
        font-size: var(--text-lg);
        font-weight: bold;
    }
    p {
        margin: 1em 0;
        font-family: var(--font-serif), 'serif';
    }
}

@theme {
    --font-sans: "Source Sans 3", "Lucida Sans Unicode", "Helvetica", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "IBM Plex Mono", "Liberation Mono", "Consolas", "Courier", monospace;
    --font-serif: "Source Serif 4", "Apple Garamond", "Baskerville", "Libre Baskerville", "Times New Roman", "Times", serif;
}

/*
@media (hover: hover) and (pointer: fine) {
    body {
        cursor: url('/cursor-default.svg'), auto;
    }
}
@media (hover: hover) and (pointer: fine) {
    p, h1, h2, h3, h4, h5, h6, input[type=text], input[type=tel], input[type=email], input[type=search], textarea {
        cursor: url('/cursor-text.svg'), auto;
    }
}
@media (hover: hover) and (pointer: fine) {
    a, a *, button:not(.tooltip-btn), button:not(.tooltip-btn) *, select, input[type=checkbox] {
        cursor: url('/cursor-pointer.svg'), auto;
    }
}
*/


.article-body {
    font-size: var(--text-xl);
}
.article-body > * {
    width: 75%;
}
.article-body a {
    /*color: var(--color-blue-500);*/
}

.marginnote-ref-wrapper {
    transition: box-shadow 0.15s ease 0.05s;
}
.marginnote-ref-wrapper:hover {
    --o-v-o: 4px;
    --o-p: 4px;
    --o-h-s: 2px;
    --background-color: #ffffff;
    --GW-highlighted-link-outline-color: #8b8b8b;
    box-shadow: var(--o-h-s) var(--o-v-o) 0 var(--o-p) var(--background-color), calc(-1 * var(--o-h-s)) var(--o-v-o) 0 var(--o-p) var(--background-color), var(--o-h-s) var(--o-v-o) 0 calc(var(--o-p) + 1px) var(--GW-highlighted-link-outline-color), calc(-1 * var(--o-h-s)) var(--o-v-o) 0 calc(var(--o-p) + 1px) var(--GW-highlighted-link-outline-color), var(--o-h-s) var(--o-v-o) 0 calc(var(--o-p) + 2px) var(--background-color), calc(-1 * var(--o-h-s)) var(--o-v-o) 0 calc(var(--o-p) + 2px) var(--background-color), var(--o-h-s) var(--o-v-o) 0 calc(var(--o-p) + 3px) var(--GW-highlighted-link-outline-color), calc(-1 * var(--o-h-s)) var(--o-v-o) 0 calc(var(--o-p) + 3px) var(--GW-highlighted-link-outline-color);
}
.marginnote-ref {
    font-size: var(--text-sm);
    color: var(--color-black)
}

.marginnote-def {
    float: right;
    clear: right;
    margin-right: -30%;
    width: 25%;
    margin-top: 0.3rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #666;
    margin-bottom: 2em;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
}

.marginnote-def::before {
    content: "";
    position: absolute;
    top: calc(29px);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dotted #666;
}

.marginnote-number {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px dotted #666;
    border-bottom: 0;
    margin-bottom: 0.5em;
}

.marginnote-backref {
    margin-left: 0.5em;
    text-decoration: none;
}