---
import '../global.css';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;

function stripTagsRegex(title: string|undefined): string {
	if(!title) return 'electronic book review';
	return title.replace(/<[^>]*>/g, '') + ' | ebr';
}
---

<html lang="en" class="overflow-y-scroll">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{stripTagsRegex(title)}</title>
		<ClientRouter />
	</head>
	<body class="min-h-screen flex flex-col pt-1">
		<slot />
	</body>
	<script src="/scripts/disableTransitionsBetweenIndexes.js" is:inline data-astro-rerun />
	<script>
		import { ViewTransitionManager } from '../scripts/ViewTransitionManager';
		let transitionManager: ViewTransitionManager;

		document.addEventListener('astro:before-preparation', () => {
			if (transitionManager) {
				transitionManager.destroy();
			}
		});

		document.addEventListener('astro:page-load', () => {
			transitionManager = new ViewTransitionManager();
		});
	</script>
</html>
