---
import '../global.css';
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/core/Navbar.astro';

const { title } = Astro.props;

function stripTagsRegex(title: string = 'MISSING TITLE') {
	return title.replace(/<[^>]*>/g, '');
}
---

<html lang="en" style="overflow-y: scroll" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{stripTagsRegex(title)} | ebr</title>
		<ClientRouter />
	</head>
	<body class="">
		<slot />
	</body>
</html>
