---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/core/Navbar.astro';
import Footer from '../components/core/Footer.astro';
const { title } = Astro.props;
---

<BaseLayout title={title}>
	<Navbar />

	<div class="grow">
		<div class="px-6 py-4">
			<div class="border-electric-blue container max-w-7xl border-10 bg-white font-mono">
				<slot />
			</div>
		</div>
	</div>

	<Footer />
</BaseLayout>
