---

---
<div class="h-32 w-64">
	<div
		class="flex w-64 cursor-pointer flex-col bg-green-800 rounded-t-4xl py-6 text-center font-mono text-lg">
		<span class="text-white">machine-writing</span>
	</div>
	<div class="bg-green-800 w-full">asd asd</div>
</div>
