---

---

<div class="controls">
	<div class="control-group">
		<strong>Font Size</strong>
		<div class="control-buttons">
			<button class="control-btn active" data-text="lg">Normal</button>
			<button class="control-btn" data-text="xl">Large</button>
		</div>
	</div>

	<div class="control-group">
		<label>Width</label>
		<div class="control-buttons">
			<button class="control-btn active" data-width="normal">Normal</button>
			<button class="control-btn" data-width="wide">Wide</button>
			<button class="control-btn" data-width="full">Full</button>
		</div>
	</div>
</div>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const article = document.querySelector('.prose');
		if (!article) {
			console.error('No article found.');
			return;
		}
		const textButtons = document.querySelectorAll('[data-text]');
		const widthButtons = document.querySelectorAll('[data-width]');

		textButtons.forEach((btn) => {
			btn.addEventListener('click', () => {
				textButtons.forEach((b) => b.classList.remove('active'));
				btn.classList.add('active');
				article.classList.remove('text-lg', 'text-xl');
				const textSize = btn.dataset.text;
				article.classList.add(`text-${textSize}`);
				localStorage.setItem('text-size', textSize);
			});
		});
	});

	function applyTypography() {
		if (localStorage.getItem('text-size') === 'xl') {
			const article = document.querySelector('.prose');
			article.classList.add('text-xl');
			article.classList.remove('text-lg');
			const textButtons = document.querySelectorAll('[data-text]');
			textButtons[0].classList.remove('active');
			textButtons[1].classList.add('active');
			console.log(textButtons[0]);
		}
	}
	document.addEventListener('astro:after-swap', applyTypography);
	applyTypography();
</script>

<style>
	.active {
		background: #3b82f6;
		color: white;
		border-color: #3b82f6;
	}
</style>
